@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* Navbar Section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}
.navbar img {
  width: 50px;
  height: 40px;
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-title {
  font-size: 2.25rem;
  font-weight: 800;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navbar ul a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #424247;
}

/* banner Section */

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Images/Group1.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 1170px;
  border-radius: 10px;
  margin: 0 auto;
}

.banner-img h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 50px;
  text-align: center;
  color: white;
}
.banner-img p {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.5;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  gap: 10px;
  background-color: rgba(179, 192, 202, 0.331);
  width: 60%;
  border-radius: 10px;
  padding: 20px;
}



input[type="text"],
select {

  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

input[type="submit"] {
  width: 25%;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ff5400;
  color: #fff;
  font-size: 0.9rem;
  font-style: normal;
  cursor: pointer;
}

/* Our Tours Section */

.tours {
  display: flex;
  margin: 6rem 8rem;
}
.disreption {
  margin: 0 40px 0 0;
}

.disreption h2 {
  font-size: 2rem;
  font-weight: 800;
}

.disreption p,
ul > li {
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  line-height: 2.25rem;
}
.btn2 {
  text-align: center;
  margin-top: 1rem;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background: #ff5400;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.tour-img {
  width: 540px;
  height: auto;
}




/*  destination Section*/

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 2rem 8rem;
}

.destination h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.destination p {
  color: #424247;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.country-img .row {
  display: flex;
  gap: 20px;
  padding: 10px;
}




/* Choose Us Section */

.choose-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.choose-d h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.choose-d p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.choose-1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 2rem 8rem;
  padding: 10px;
}

.choose-1 .hotels {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 25px;
}

.choose-1 .world {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 25px;
}

.choose-2 {
  display: inline-block;
  margin: 0rem 25rem;
}

.choose-2 .price {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 25px;
}






/* parfect-place Section */


.parfect-place{
  display: flex;
  justify-content: space-between;
  margin: 6rem 8rem;
}

.left-site h1{
  font-size: 40px;
  font-weight: 800;
}

.btn3 {
  text-align: center;
  margin-top: 1rem;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background: #ff5400;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}






/* subscribe Section */

.subscribe{
  display: flex;
  justify-content: center;
  margin: 2rem 8rem;
  gap: 60px;
}


.box{
  height: 420px;
  text-align: start;
  border-radius: 16px;
  padding: 20px;
border: 2px solid #FF5400;

}

.box h3{
  font-size: 2rem;
font-weight: 800;
}

.box p{
  color: #5A5A5D;
font-size: 1rem;
line-height: 25px;
}
.form1{
  display: flex;
  flex-direction: column;
  gap:30px; 
  padding-top: 60px;
}
.save{
width: 324px;
height: 120px;
transform: rotate(-20deg);
border-radius: 1rem;
background: #FF5400;
position: relative;
left: 340px;
bottom: 190px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: #fff;
}

.save h5{
  font-weight: 300;
  margin: 0px;
  margin-top: 15px;
}



























.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(19, 19, 24, 0.05);
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer p{
  text-align: center;
  line-height: 40px;
  color: #5A5A5D;

}


.footer img {
  margin: 2rem;
  cursor: pointer;
}

.footer h5{
  color: #131318;
font-size: 1rem;
font-weight: 300;
margin-top: 5rem;
}


.text-box{
  width: 400px;
  background-color: #424247;
}

input[type="text"]{
  border: none;
  outline: none;
  width: 400px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}

input[type="submit"]{
  border: none;
  outline: none;
  width: 420px;
  border-radius: 8px;
  background:#ff5400;
  cursor: pointer;
}





























@media (max-width: 600px) {
  .navbar {
    padding: 0rem 2rem;
  }
  .right {
    align-items: center;
  }

  .navbar ul a {
    display: none;
  }

  .navbar img {
    width: 33px;
    height: 28px;
  }

  .nav-title {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .banner-img {
    width: 460px;
    height: 483px;
    margin: 10px 35px;
  }

  .banner-img h1 {
    font-size: 2.2rem;
  }
  .banner-img p {
    font-size: 0.7rem;
  }

  form {
    flex-direction: column;
    margin: 5px auto;
  }

  select {
    width: 100%;
    padding: 10px 10px;
  }
  input[type="text"] {
    width: 90%;
    padding: 10px 10px;
    font-size: 0.9rem;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px 10px;
    font-size: 0.9rem;
  }

  .tours {
    flex-direction: column;
    margin: 3rem 3rem;
    text-align: start;
    justify-content: center;
  }

  .btn2 {
    margin: 2rem 0;
  }

  .tour-img img {
    width: 470px;
    height: auto;
  }





  /* Destination Section */

  .destination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 6rem auto;
    margin: 2rem 2rem;
  }
  .country-img 
  .row{
    flex-direction: column;
    max-width: 500px;
    max-height: 1250px;
  }
  
  .sp{
    max-width: 500px;
  }

  



  /* Choose Us Section */

  .choose-1{
    flex-direction: column;
    margin: 1rem; 
  }
  .hotels{
    margin-bottom: 30px;
  }
  .choose-2 {
     margin: 1rem;
  }
  .choose-d{
    margin: 40px;
  }





  /* parfect-place Section  */

  .parfect-place{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0rem 2rem;
    gap: 30px;
  }
  .save{
    left: 185px;
    bottom: 175px;
  }
  .right-side img{
    width: 520px;
    height: 300px;
  }
  
  
  
  
  

  
  /* subscribe Section */
  
  
  .subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem;
    gap: 30px;
  }

  .right-img img{
    width: 520px;
  height: 410px;
  }




  /* Footer Section */

  .footer p{
    padding: 15px;
  }





}
